MainDir={{ nzbget_working_path }}
DestDir={{ nzbget_completed_path }}
InterDir={{ nzbget_download_path }}
NzbDir={{ nzbget_nzb_path }}
QueueDir=${MainDir}/queue
TempDir=${MainDir}/tmp
WebDir=/usr/share/nzbget/webui
ScriptDir=${MainDir}/ppscripts
LockFile=${MainDir}/nzbget.lock
LogFile=${DestDir}/nzbget.log
ConfigTemplate=
Server1.Active=yes
Server1.Name={{ nzbget_server1_name }}
Server1.Level=0
Server1.Group=1
Server1.Host={{ nzbget_server1_host }}
Server1.Port={{ nzbget_server1_port }}
Server1.Username={{ nzbget_server1_username }}
Server1.Password={{ nzbget_server1_password }}
Server1.JoinGroup=no
Server1.Encryption=yes
Server1.Cipher=
Server1.Connections={{ nzbget_server1_connections }}
ControlIP=0.0.0.0
ControlPort=8085
ControlUsername=
ControlPassword=
SecureControl=no
SecurePort=6791
SecureCert=
SecureKey=
DaemonUsername=nzbget
UMask=1000
AppendCategoryDir=no
NzbDirInterval=5
NzbDirFileAge=60
DupeCheck=yes
SaveQueue=yes
ReloadQueue=yes
ContinuePartial=yes
Decode=yes
DirectWrite=yes
CrcCheck=yes
Retries=3
RetryInterval=10
ConnectionTimeout=60
TerminateTimeout=600
DownloadRate=0
AccurateRate=no
WriteBufferSize=0
DiskSpace=250
DeleteCleanupDisk=no
KeepHistory=7
FeedHistory=7
UrlConnections=4
Category1.Name=Movies
Category1.DestDir=
Category1.Unpack=yes
Category1.PostScript=
Category1.Aliases=
Category2.Name=Series
Category3.Name=Music
Category4.Name=Software
CreateLog=no
ResetLog=no
ErrorTarget=both
WarningTarget=both
InfoTarget=both
DetailTarget=both
DebugTarget=both
LogBufferSize=1000
CreateBrokenLog=yes
DumpCore=no
OutputMode=curses
CursesNzbName=yes
CursesGroup=no
CursesTime=no
UpdateInterval=200
ParCheck=auto
ParRepair=yes
ParScan=auto
ParTimeLimit=0
ParPauseQueue=yes
ParCleanupQueue=yes
NzbCleanupDisk=no
ExtCleanupDisk=.par2, .sfv, _brokenlog.txt
Unpack=yes
UnpackPauseQueue=yes
UnpackCleanupDisk=yes
UnrarCmd=unrar
SevenZipCmd=7z
PostScript=
ScriptOrder=
ScriptPauseQueue=yes
AuthorizedIP=
Category2.DestDir=
Category2.Unpack=yes
Category2.PostScript=
Category2.Aliases=
Category3.DestDir=
Category3.Unpack=yes
Category3.PostScript=
Category3.Aliases=
Category4.DestDir=
Category4.Unpack=yes
Category4.PostScript=
Category4.Aliases=
PropagationDelay=0
UrlForce=yes
TimeCorrection=0
ParRename=yes
ParIgnoreExt=.sfv, .nzb, .nfo
HealthCheck=delete
ScanScript=
QueueScript=
Server2.Active=yes
Server2.Name={{ nzbget_server2_name }}
Server2.Level=1
Server2.Group=2
Server2.Host={{ nzbget_server2_host }}
Server2.Port={{ nzbget_server2_port }}
Server2.Username={{ nzbget_server2_username }}
Server2.Password={{ nzbget_server2_password }}
Server2.JoinGroup=no
Server2.Encryption=yes
Server2.Cipher=
Server2.Connections={{ nzbget_server2_connections }}
